:root {
    --primary-font:'Poppins', sans-serif;
    --primary-color: #29327F;
    --black: #111827;
    --gray: #383E47;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    text-decoration: none;
}

body {
    font-size: 16px;
    width: 100%;
}

/* re-usable class */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: fit-content;
    padding: 12px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background: var(--primary-color);
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover{
    background-color: #0606bf;
}

.title-main {
    font-size: 38px;
    font-weight: 600;
    line-height: 49px;
    color: var(--black);
    text-transform: capitalize;
}

.title-desc {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    color: var(--black);
    line-height: 37px;
}

.sub-desc {
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray);
    line-height: 26px;
}


/* bagian navbar */
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 120px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(6px);
}

.container-header .logo img{
    width: 135px;
}

.container-header .nav-list ul,
.container-header .auth-list ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.container-header .nav-list ul a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    font-size: 1rem;
    color: #535A65;
    font-weight: 600;
}

.container-header .nav-list ul a:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.container-header .auth-list ul {
    gap: 16px;
}

.container-header .auth-list .btn-login{
    background-color: white;
    color: var(--primary-color);
}
.container-header .auth-list .btn-login:hover{
    background-color: #0606bf;
    color: white;
}

/*responsive nav*/
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}
  
.hamburger-active .line:nth-child(2) {
    width: 0px;
}
  
.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}
  
.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}
  
.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}
  
.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 10% 0;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
  
.menubar ul {
    padding: 0;
    list-style: none;
}

.menubar ul li {
    margin-bottom: 32px;
}
  
.menubar ul li a {
    color: var(--gray);
    font-weight: 600;
    padding: 5px 10px;
}

.menubar ul li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.menubar .btn {
    color: white;
    padding: 12px 24px;
}

.menubar .btn:hover {
    background-color: #0606bf;
    color: white;
}

.menubar .btn-login {
    color: var(--primary-color);
    background-color: #FFF;
}

.menubar .btn-login:hover {
    color: white;
    background-color: #0606bf;
}

/* akhir navbar */

/* main */
.content-main{
    margin: 32px 120px 0px;
}

.main-banner,
.main-about,
.event-donate {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-bottom: 120px;
}

.main-banner .main-banner-desc h2{
    align-self: stretch;
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 64px;
    color: var(--black);
}

.main-banner .main-banner-desc h2 span{
    color: var(--primary-color);
}

.main-banner .main-banner-desc .sub-desc {
    margin-bottom: 50px;
}

.main-banner .main-banner-img img {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.main-about-desc {
    text-align: justify;
}

.main-about .main-about-img img,
.event-donate .event-donate-img img {
    max-width: 531px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.main-about-desc h4 span{
    color: var(--primary-color);
}
/* akhir main  */

/*next event */
.content-event {
    margin: 0 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 574px;
    height: 181px;
    padding: 32px;
}

.content-event .event-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px 0;
    flex-wrap: wrap;
}

.card {
    width: 332px;
    height: 490px;
    border-radius: 30px;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.card .card-content {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .card-img img {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 200px;
}

.card .card-description {
    text-align: justify;
}

.card .card-description .card-title h3{
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.card .card-description .card-schedule i {
    color: #737D8C;
    margin-top: 8px;
}

.card .card-description .card-schedule i span {
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #737D8C;
}

.card .card-description .card-schedule p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 8px;
}

.card .card-content .card-btn {
    margin-top: 16px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-donate {
    margin: 120px 0;
}

.event-donate .main-about-desc .sub-desc {
    margin-bottom: 32px;
}
/* akhir next event */

/* section documentation */
.content-documentation {
    margin: 0 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-documentation .doc-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 32px auto;
}

.content-documentation .doc-gallery img {
    width: 330px;
    height: 330px;
}

.content-documentation .doc-btn {
    margin-bottom: 32px;
}
/*akhir section documentation */


/* aside  */
main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}
   
main aside .social-media {
    height: 100%;
    display: flex;
}
   
main aside .social-media ul {
    padding: 1.5rem 1rem;
    margin: auto 30px;
    border-radius: 12px;
    background-color: rgba(213, 216, 238, 0.748);
    backdrop-filter: blur(6px);
   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
 
main aside .social-media li {
    list-style-type: none;
}
 
main aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: all .1s ease-in-out;
}
 
main aside .social-media li a:hover {
    color: #3d3ded;
    
}
/* end aside  */

.container-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: var(--primary-color);
    padding: 8px 120px;
}

.container-footer a{
    color: white;
}



/* dektop */
@media screen and (max-width: 1200px) {
  
    .content-documentation .doc-gallery img {
        width: 300px;
        height: 300px;
    }
}

/* laptop */
@media screen and (max-width: 992px) {
    .container-header .logo img{
        width: 100px;
    }
    .container-header .nav-list ul a,
    .container-header .auth-list ul a {
        font-size: 12px;
    }
    
    article .main-desc{
        font-size: 35px !important;
    }

    .title-desc {
        font-size: 24px;
    }

    .sub-desc{
        font-size: 13px;
    }
    
    .main-banner .main-banner-img img,
    .main-about .main-about-img img,
    .event-donate .event-donate-img img {
        width: auto;
        height: 450px;
    }
    
    
    .content-documentation .doc-gallery img {
        width: 230px;
        height: 230px;
    }

    main aside .social-media ul {
        gap: .9rem;
    }
}

/* tablet */
@media screen and (max-width: 768px) {

    main .content-main .main-banner .main-banner-img {
        order: -1;
    }
    
    .main-banner,
    .main-about,
    .event-donate {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }

    .main-banner-desc,
    .main-about-desc,
    .main-banner-img img{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title-desc{
        text-align: center;
    }

    .content-event .event-main {
        padding-top: 0;
        gap: 16px;
    }

    .content-documentation .doc-gallery img {
        width: 160px;
        height: 160px;
    }

    main aside .social-media ul {
        gap: .5rem;
    }

    .hamburger {
        display: block;
    }
    .container-header .nav-list,
    .container-header .auth-list {
        display: none;
    }

}

/* mobile */
@media screen and (max-width: 576px) {
    .container-header,
    .container-footer {
        padding: 8px 60px;
    }

    .content-main,
    .content-event,
    .content-documentation {
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .main-banner .main-banner-img img,
    .main-about .main-about-img img,
    .event-donate .event-donate-img img {
        width: auto;
        height: 350px;
    }

    .event-title {
        width: auto;
        height: auto;
    }

    .content-documentation .doc-gallery {
        margin-top: 0;
    }
    .content-documentation .doc-gallery img {
        width: 350px;
        height: 350px;
    }
       
    main aside .social-media ul {
        margin: auto;
    }

    .container-footer {
        justify-content: center;
    }

    main aside .social-media ul {
        padding: 1.5rem .7rem;
    }
}